<md-toolbar color="primary">
  Angular Material2 TODO App
</md-toolbar>
<md-card>
  <form [formGroup]="myForm" (ngSubmit)="save(myForm.value, myForm.valid)">
    <div class="form-field">
      <md-input formControlName="id" placeholder="ID"></md-input>
    </div>
    <div class="form-field">
      <md-input formControlName="title" placeholder="Title"></md-input>
    </div>
    <div class="form-field">
      <md-input formControlName="description" placeholder="Description"></md-input>
    </div>
    <br>
    <button type="submit" md-raised-button color="primary">Submit</button>
    <md-progress-bar
            *ngIf="saving"
            class="app-progress"
            mode="indeterminate"
            aria-label="Indeterminate progress-bar example"
            style="margin-top:2%;"></md-progress-bar>
  </form>
</md-card>

<div class="debug">
  {{_items|json}}
</div>

